* {
  font-family: 'Anton', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgb(197, 197, 0) 0%,
    orange 100%
  );
}

.img {
  width: 130px;
  height: 70px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.1s ease-out;
  margin-top: 3px;
}
.img:hover {
  transform: scale(1.05);
}

.box {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 120px;
}

.name {
  text-align: center;
  font-size: 15px;
  color: #4c4c60;
}

.box_names_div {
  display: flex;
  justify-content: space-around;
}

.boxes_container {
  display: flex;
}

.img_magnifier {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_magnifier img {
  width: 54%;
  margin-top: 8px;
  aspect-ratio: 16/9;
}

.box_names_div h2 {
  color: #6969c8;
  text-shadow: 2px 2px black;
}

img:not([src]) {
  opacity: 0;
}

img[src='*'] {
  opacity: 1;
}
